footer{
    padding: 3rem;
    text-align: center;
    background-color: #121227;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid gray;
    padding: 1.7rem;
}
.navegacion__logo a{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.tracker,
.navegacion__enlaces a.activo{
    color: rgb(5, 185, 5);
}
.navegacion__enlaces a{
    transition: 0.4s;
}
.navegacion__enlaces a:hover{
    color: rgb(5, 185, 5);
    transition: 0.4s;
}
.navegacion__enlaces nav{
    display: flex;
    gap: 3rem;
}

@media(width < 768px){
    .navegacion{
        flex-direction: column;
    }
    .navegacion__enlaces{
        width: 100%;
        
    }
    .navegacion__enlaces nav{
        flex-direction: column;
        text-align: center;
        gap: 0;
        width: 100%;
    }
    .navegacion__enlaces a{
        display: block;
        padding: 1rem;
    }
    .navegacion__enlaces a:hover{
        background-color: #121227;
    }
}

/*----------FORMULARIO JUEGO-------------*/
/*----------FORMULARIO JUEGO-------------*/
/*----------FORMULARIO JUEGO-------------*/

.formulario-agregar-juego{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
.formulario-agregar-juego-campos label{
    display: block;
}
.formulario-agregar-juego-campos input{
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: white;
    width: 100%;
    background-color: #121248;
}
.formulario-agregar-juego-campos input::placeholder{
    color: white;
}
.formulario-agregar-juego-campos textarea{
    width: 100%;
    background-color: #121248;
    min-height: 10rem;
}
.text-area-agregar-juego{
    grid-column: 1/3;
}